﻿<!doctype html>
<html ng-app="exampleTransformable">
<head>
    <meta charset="utf-8">
    <title>rcNgTransformable demo</title>
    <style>
        a, button {
            font: 14px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
            display: block;
            color: #333;
            margin-bottom: 10px;
        }

        .box {
            background: #55ACEE;
            border: 1px solid #3B88C3;
            color: #FFF;
            box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset;
            padding: 4px 12px 9px;
            border-radius: 4px;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            width: 350px;
            height: 350px;
        }

        .container {
            border: #FC5B3F 2px dashed;
            margin-bottom: 50px;
            width: 300px;
            height: 300px;
        }

        .wrapper {
            margin: 20px;
        }

        .controls {
            margin: 10px 0;
        }

        .controls img {
            cursor: pointer;
        }

    </style>
</head>
<body ng-controller="MainCtrl">

<div class="wrapper">
    <script type="text/ng-template" id="/templates/controls.tpl.html">
        <div class="controls">
            <img class="zoomIn" src="images/interface11.svg" style="width:16px;" ng-click="zoomIn()"
                 title="Go on upper level if exist">
            <img class="zoomOut" src="images/zoom15.svg" style="width:16px;" ng-click="zoomOut()"
                 title="Zoom in the map">
        </div>
    </script>
    <div class="container viewport">
        <div rc-ng-transformable rc-ng-movable-limit="true" class="box">
            Drag me over the window!
            <controls/>
        </div>
    </div>
</div>


<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/hammerjs/hammer.js"></script>
<script src="../bower_components/sylvester/sylvester.src.js"></script>
<script src="../js/rcTransformService.js"></script>
<script src="../js/rcNgTransformable.js"></script>
<script>
    var app = angular.module('exampleTransformable', ['rcNgMovable']);

    app.directive("enter", function () {
        return function (scope, element, attrs) {
            element.bind("mouseenter", function () {
                scope.$apply(attrs.enter)
            })
        }
    })

    app.directive('controls', ['$log', function ($log) {
        return {
            restrict: 'E',
            require: '^rcNgTransformable',
            templateUrl: '/templates/controls.tpl.html',
            replace: true,
            link: function ($scope, $element, $attrs, rcNgTransformableCtrl) {
                var $zoomOut,
                        $zoomIn;
                var ctrls = $element.find('img');
                angular.forEach(ctrls, function (el) {
                    var $el = angular.element(el);
                    if ($el.attr('id') === 'zoomIn' || $el.hasClass('zoomIn'))
                        $zoomIn = $el;
                    if ($el.attr('id') === 'zoomOut' || $el.hasClass('zoomOut'))
                        $zoomOut = $el;
                });
                if ($zoomOut) {
                    $zoomOut.bind("click", function () {
                        //$log.log('Zoom out');
                        rcNgTransformableCtrl.zoomOut();
                    });
                }
                if ($zoomIn) {
                    $zoomIn.bind("click", function () {
                        //$log.log('Zoom in');
                        rcNgTransformableCtrl.zoomIn();
                    });
                }
            }
        };
    }]);
    app.controller('MainCtrl', ['$scope', function ($scope) {

    }]);
</script>
</body>
</html>
